<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "SpoorKapot") %>
    <%= vapid_key_data() %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <main>
      <%= @inner_content %>
    </main>
    <footer class="footer p-4 fixed bottom-0">
      <div>
        <a class="link link-hover" href="https://github.com/bo0tzz/spoorkapot">by bo0tzz © <%= DateTime.utc_now.year %></a>
      </div>
    </footer>
  </body>
</html>
